@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@font-face {
  font-family: Sahel;
  src: url("../../fonts/sahel-font-v3.4.0/Sahel.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Sahel;
  position: relative; }

.header {
  width: 100%;
  background: url("../../images/header.jpg") center no-repeat;
  background-attachment: fixed;
  height: 100vh; }

.header-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }
  .header-row__title {
    font-size: 1.6rem;
    color: #666;
    cursor: pointer;
    transition: all .3s; }
  .header-row__title:hover {
    color: #4e4e4e; }

.header-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  list-style: none; }
  .header-list .search-section {
    animation: modal 1s;
    position: absolute;
    right: 10rem;
    top: 4rem;
    background-color: #fff;
    padding: .6rem 1rem;
    box-shadow: #afafaf 0px 0px 6px;
    display: none; }
    .header-list .search-section__input {
      border: none;
      outline: none;
      padding: 1rem .5rem;
      background-color: #f5f5f5;
      border-radius: 2px;
      margin-right: .4rem;
      font-size: 1rem;
      color: #333333; }
    .header-list .search-section__btn {
      transition: all .3s;
      padding: 1.1rem 0.3rem;
      background: #5d47d7;
      border: none;
      outline: none;
      border-radius: 2px;
      cursor: pointer;
      color: #fff;
      font-size: 0.8rem; }
@keyframes modal {
  0% {
    top: 0; }
  100% {
    top: 4rem; } }
  .header-list__item {
    margin-right: 2rem; }
    .header-list__item :hover {
      color: #5234f9; }
  .header-list__link {
    font-size: .9rem;
    color: #4c4c4c;
    text-decoration: none;
    transition: all .3s; }
    .header-list__link :last-child {
      color: #5234f9;
      position: relative;
      padding: 2rem .5rem; }

.header-down {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%; }
  .header-down .titles {
    text-align: center; }
    .header-down .titles__title {
      font-size: 3.4rem;
      color: #fff;
      margin-bottom: 1.5rem; }
    .header-down .titles__desc {
      font-size: .9rem;
      line-height: 1.4rem;
      color: #fff;
      font-weight: 400;
      margin-bottom: 1.5rem; }
  .header-down .buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem; }
    .header-down .buttons__download {
      transition: all .3s;
      padding: 1.2rem 3rem;
      background: transparent;
      border: 2px solid #fff;
      outline: none;
      border-radius: 2px;
      cursor: pointer;
      color: #fff;
      font-size: 0.8rem;
      font-weight: 600; }
    .header-down .buttons__download:hover {
      background: #fff;
      color: black; }

.buttons__read {
  transition: all .3s;
  padding: 1.4rem 4rem;
  background: #745cf9;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 1rem; }

.buttons__read:hover {
  background: #5d47d7; }

.main {
  width: 100%; }
  .main .seo {
    padding: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; }
    .main .seo .seo-loptop {
      width: 60%; }
      .main .seo .seo-loptop__image {
        width: 100%;
        height: 100%; }
    .main .seo .seo-elements {
      width: 40%;
      padding: 4rem; }
      .main .seo .seo-elements__header {
        font-size: 1.8rem;
        color: black;
        margin-bottom: 1.3rem; }
      .main .seo .seo-elements__desc {
        font-size: .9rem;
        line-height: 1.4rem;
        color: #8c979e;
        font-weight: 400;
        margin-bottom: 1.7rem; }
  .main .portfolio {
    padding: 5rem;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%; }
    .main .portfolio-loptop {
      width: 60%; }
      .main .portfolio-loptop__image {
        width: 100%;
        height: 100%; }
    .main .portfolio-elements {
      padding: 4rem;
      width: 40%; }
      .main .portfolio-elements__header {
        font-size: 1.8rem;
        color: black;
        margin-bottom: 1.3rem; }
      .main .portfolio-elements__desc {
        font-size: .9rem;
        line-height: 1.4rem;
        color: #8c979e;
        font-weight: 400;
        margin-bottom: 1.7rem; }
  .main .parallax {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 6rem 10rem;
    background: url("../../images/parallax.jpg") center no-repeat;
    background-attachment: fixed;
    text-align: center; }
    .main .parallax__header {
      font-size: 3.5rem;
      color: #fff;
      margin-bottom: 1.5rem; }
    .main .parallax__desc {
      font-size: .9rem;
      line-height: 1.4rem;
      color: #fff;
      font-weight: 400;
      margin-bottom: 1.5rem; }
  .main .limitless {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 7rem;
    background-color: #f5f5f5; }
    .main .limitless-options {
      padding: 0 4rem; }
      .main .limitless-options__header {
        font-size: 1.8rem;
        color: black;
        margin-bottom: 1.5rem; }
      .main .limitless-options__desc {
        font-size: .9rem;
        line-height: 1.4rem;
        color: #8c979e;
        font-weight: 400;
        margin-bottom: 1.5rem; }
      .main .limitless-options .buttons__read {
        margin-bottom: 2rem; }
    .main .limitless-image__img {
      width: 100%;
      height: 100%; }
  .main .last-projects {
    width: 100%;
    background-color: #0e1015;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 7rem 2rem; }
    .main .last-projects-elements__header {
      font-size: 1.8rem;
      color: #fff;
      margin-bottom: 1.5rem; }
    .main .last-projects-elements__desc {
      font-size: .9rem;
      line-height: 1.4rem;
      color: #fff;
      font-weight: 400;
      margin-bottom: 2rem; }
    .main .last-projects-cards {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap; }
      .main .last-projects-cards__card {
        width: calc(100%/4 - 2rem);
        height: 25%;
        cursor: pointer;
        margin: .5rem .5rem;
        position: relative; }
        .main .last-projects-cards__card__img {
          width: 100%;
          height: 100%;
          border-radius: 5px; }
      .main .last-projects-cards__card:hover::before {
        animation: opacity .4s;
        content: 'Projects (i)';
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
        font-size: 1.3rem;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)); }
  .main .customers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: url("../../images/customers.jpg") center no-repeat fixed;
    padding: 3rem 15rem; }
    .main .customers__header {
      font-size: 1.8rem;
      color: #fff;
      margin-bottom: 2rem; }
    .main .customers-list {
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      align-items: center;
      overflow: hidden;
      position: relative;
      height: 50vh; }
      .main .customers-list i {
        color: #afafaf;
        font-size: 1rem;
        cursor: pointer;
        transition: all .3s; }
      .main .customers-list i:hover {
        color: white; }
      .main .customers-list__item {
        animation: right .4s;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%; }
@keyframes right {
  0% {
    right: 0%;
    opacity: 0; }
  100% {
    opacity: 1;
    right: -100%; } }
      .main .customers-list .first-child {
        position: absolute;
        right: -100%; }
      .main .customers-list__desc {
        font-size: .9rem;
        line-height: 1.4rem;
        color: #fff;
        font-weight: 400; }
      .main .customers-list__img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-top: 1.5rem; }
      .main .customers-list__img + b {
        color: #fff;
        font-weight: 800;
        margin-top: 1rem; }
  .main .clients {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4rem 4rem;
    overflow: hidden; }
    .main .clients__title {
      font-size: 1.8rem;
      color: black;
      margin-bottom: 4rem; }
    .main .clients-section {
      width: 1800%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      list-style: none;
      transform: translate3d(1575px, 0, 0);
      transition: all 0.3s; }
      .main .clients-section .client {
        width: 450px;
        height: 70px; }
        .main .clients-section .client__img {
          height: 100%; }
  .main .download-section {
    padding: 7rem 2rem;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center; }
    .main .download-section__header {
      font-size: 2rem;
      color: black; }

.footer {
  width: 100%;
  background-color: #0e1015;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 5rem; }
  .footer-text__title {
    font-size: 0.9rem;
    color: #fff; }
  .footer-icons-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; }
    .footer-icons-list__item {
      margin-right: 1.4rem; }
    .footer-icons-list__link {
      text-decoration: none;
      color: #fff;
      transition: all .3s;
      font-size: 1rem; }
    .footer-icons-list__link:hover {
      color: #5d47d7; }
  .footer-scroll-up {
    position: fixed;
    right: 1rem;
    bottom: 1.3rem;
    z-index: 1000;
    display: none;
    animation: opacity .3s; }
    .footer-scroll-up i {
      cursor: pointer;
      border: 2px solid #8f8f8f;
      color: #8f8f8f;
      padding: .3rem;
      transition: all .3s; }
    .footer-scroll-up i:hover {
      color: black;
      border-color: black; }
@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
